# General IDE Settings
.DS_Store

# IDE settings in RStudio
.Rproj.user
.Rhistory
.RData

# Protein Features machine learning modeling outputs
ProteinFeatures/Output/modelList_classification_descriptive.RDS
ProteinFeatures/Output/modelList_regression_descriptive_microgram.RDS
